# Build
build/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# Dépendances téléchargées par FetchContent
_deps/

# IDE
.vscode/
.idea/
*.user

# OS
.DS_Store
Thumbs.db
